@font-face {
  font-family: "NetflixSans";
  src: url("../fonts/NetflixSans-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NetflixSans";
  src: url("../fonts/NetflixSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NetflixSans";
  src: url("../fonts/NetflixSans-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #000;
  --brand-color: #e50815;
  --main-color: #fff;
  --sub-color: rgba(255, 255, 255, 0.7);

  --section-gap: 64px;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-family: NetflixSans, "Helvetica Neue", sans-serif;
  word-break: keep-all;
}

select {
  padding: 0 12px;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  color: var(--main-color);
}

button {
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: var(--brand-color);
  color: var(--main-color);
  cursor: pointer;
}

input {
  border: 0.01rem solid var(--main-color);
  border-radius: 4px;
  background-color: transparent;
  color: var(--main-color);
  outline: none;
}

input:focus {
  outline: none;
}

a {
  color: var(--main-color);
}

.container {
  margin: 0 auto;
  max-width: 80%;
}

.title {
  margin: 20px 0;
  font-size: 24px;
}

.sign-up__form {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  width: 100%;
}

.sign-up__input {
  flex: 1 1 auto;
  padding: 0 12px;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
}

.sign-up__button {
  flex: 0 1 auto;
  padding: 0 24px;
  height: 56px;
  font-size: 24px;
}

.sign-up__button > i {
  margin-left: 8px;
}

.language__container {
  display: flex;
  align-items: center;
  padding: 0 6px;
  border: 0.01rem solid var(--main-color);
  border-radius: 4px;
  height: 32px;
}

/* header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__logo {
  width: 148px;
  height: 40px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav__button {
  margin-left: 12px;
  padding: 6px 14px;
  height: 32px;
}

/* main */
main {
  padding-top: 80px;
  height: 90vh;
  background: no-repeat center/contain
      linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../images/main.jpg");
  text-align: center;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 32rem;
  height: 100%;
}

.main__title {
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: bold;
}

.main__text {
  margin: 12px 0;
  font-size: 16px;
}

/* banner */
.banner {
  margin: var(--section-gap) auto;
}

.banner__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  height: 80px;
}

.banner__container:hover {
  transform: scale(1.02);
  filter: brightness(110%);
  transition: all ease 0.2s;
}

.banner__image {
  transform: scale(0.8);
}

.banner__card {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 6px 16px;
  border-radius: 8px;
  background: linear-gradient(90deg, #261734, #151a3f);
}

.banner__title {
  margin-bottom: 4px;
  font-size: 20px;
}

.banner__button {
  padding: 6px 16px;
  height: 40px;
  background-color: #404359;
  font-size: 16px;
}

/* contents */
.contents {
  margin: var(--section-gap) auto;
}

.contents__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.contents__lists {
  overflow: hidden;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.contents__list {
  position: relative;
  margin: 0 16px;
  cursor: pointer;
}

.contents__poster {
  border-radius: 8px;
  width: 140px;
}

.contents__rank {
  position: absolute;
  left: -24px;
  bottom: 10px;
  color: #000;
  font-size: 80px;
  font-weight: 700;
  -webkit-text-stroke: 2px #fff;
}

.contents__more {
  flex: 1 1 36px;
}

.contents__more-button {
  border-radius: 8px;
  width: 24px;
  height: 120px;
  background-color: #1a1a1a;
}

/* reason */
.reason {
  margin: var(--section-gap) auto;
}

.reason__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 12px;
}

.reason__card {
  position: relative;
  padding: 24px;
  border-radius: 12px;
  background: linear-gradient(to bottom right, #1a2144, #20111d);
}

.reason__card-title {
  margin-bottom: 14px;
  font-size: 20px;
}

.reason__card-text {
  line-height: 1.2;
  color: var(--sub-color);
}

.reason__card-image {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

/* faq */
.faq {
  margin: var(--section-gap) auto;
}

.faq__card {
  margin-bottom: 8px;
  background-color: #2d2d2d;
  font-size: 24px;
}

.faq__card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-bottom: 1px solid var(--main-bg-color);
  cursor: pointer;
}

.faq__card-header:hover {
  background-color: #3f3f3f;
}

.faq__card-button {
  background-color: transparent;
  font-size: 36px;
}

.faq__card-body {
  display: none;
  padding: 24px;
}

.faq__card-text {
  line-height: 1.2;
}

.faq__card-text.gap {
  margin-bottom: 32px;
}

/* signUp */
.sign-up {
  margin: var(--section-gap) auto;
  text-align: center;
}

.sign-up__container {
  max-width: 783px;
}

/* footer */
footer {
  margin-bottom: 96px;
  color: var(--sub-color);
}

footer a {
  color: var(--sub-color);
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.footer__link {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__select {
  width: 128px;
}

.footer__contact {
  font-size: 12px;
  line-height: 1.1;
}
